[Unit]
Description=This will watch for new files and upload them to s3

[Service]

User=root
Group=root

Environment="syncdir=/directory/to/sync/" "bucket=bucket-to-upload-to"

ExecStart=/root/bin/s3-fsnotify-go

Restart=on-failure