[Unit]
Description=This will watch for new files and upload them to s3

[Service]

User=root
Group=root

WorkingDirectory=/syncme

Restart=on-failure

Environment="syncdir=." "bucket=bucket-to-upload-to"

ExecStart=/root/bin/s3-fsnotify-go

[Install]
WantedBy=multi-user.target
